*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  width: 140rem;
  margin: 10rem auto;
  font-family: "Montserrat", sans-serif;
  color: #404040;
  box-sizing: border-box; 
}

h4 {
  font-size: 1.6rem;
}

.container {
  /* display: flex;
  justify-content: space-between; */
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: 50% 50%; */
}

form {
  padding: 3rem 0 0;
}

label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

input,
textarea {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: inherit;
  width: 100%;
}

button {
  display: block;
  font-family: inherit;
  padding: 1.2rem 1.7rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 3px;
  width: 100%;
  background: #2c2c2c;
  color: #fff;
}

button:hover {
  background: #ccc;
  color: #2c2c2c;
}

ul {
  list-style: none;
  padding: 3rem 3rem;
  font-size: 1.6rem;
}
li {
  margin: 1rem 0
}

.registration-form {
  width: 30rem;
}

.contact-form {
  width: 40rem;
}